In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from scipy.stats import pearsonr
from sklearn.preprocessing import StandardScaler

In [6]:
df = pd.read_csv('balance-scale.csv')
df

     class   left weight   left distance   right weight   right distance
0    B                  1               1              1               1
1    R                  1               1              1               2
2    R                  1               1              1               3
3    R                  1               1              1               4
4    R                  1               1              1               5
..      ...           ...             ...            ...             ...
620  L                  5               5              5               1
621  L                  5               5              5               2
622  L                  5               5              5               3
623  L                  5               5              5               4
624  B                  5               5              5               5

[625 rows x 5 columns]